# =============== #
# Unity generated #
# =============== #
examples/unity-sagas-demo/[Tt]emp/
examples/unity-sagas-demo/[Oo]bj/
examples/unity-sagas-demo/[Bb]uild
examples/unity-sagas-demo/[Ll]ibrary/
sysinfo.txt
*.stackdump

 
# ============================================= #
# Visual Studio / MonoDevelop / Rider generated #
# ============================================= #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
examples/*/*.sln*
/*.user
/*.unityproj
/*.booproj
/.idea*/
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
UnitySagas/obj/
UnitySagas.Tests/bin/
*.ncrunchsolution
UnitySagas/bin/
_NCrunch_UnitySagas/
packages/
*.user
UnitySagas.Tests/obj/
*.ncrunchproject
examples/*/*.csproj
